* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    scroll-behavior: smooth;
}
/* CSS HEX */
:root {
    --gray: #2a2b2aff;
    --platinum: #dfe0e2ff;
    --platinumtranslucent: rgba(223, 224, 226, 0.8);
    --brick: #f05d5eff;
    --blue: #0496ff;
    --purple: #7353baff;
}
body {
    background-color: var(--gray);
    /* background-color: black; */
    margin-top: 8vh;
}
/* HEADER BAR */
.header-bar {
    /* color: antiquewhite; */
    background-image: linear-gradient(
        to bottom,
        #2a2b2aff,
        rgba(42, 43, 42, 0)
    );
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    height: 8vh;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 99999;
}
.header-logo {
    margin-left: 1vw;
    height: 10vh;
    width: auto;
    height: 8vh;
}
.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-right: 4vw;
    gap: 6vw;
    transition-duration: 0.1s;
}
.puter {
    color: var(--purple);
}
.about-me {
    color: var(--brick);
}
.projects {
    color: var(--blue);
}
.contact {
    color: var(--platinum);
}
.header-link {
    /* color: var(--blue); */
    text-decoration: none;
    font-size: 0.8vw;
}
.header-link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.1s;
}
.header-logo-link {
    transition-duration: 0.1s;
}
.header-logo-link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.1s;
}
.puter::after {
    content: "BETA";
    font-size: 50%;
    color: var(--brick);
    position: absolute;
    /* top: 0; */
    /* right: -20; */
}
/* HEADER STOP */
#pointer {
    content: "";
    background-color: red;
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
}
.section-1 {
    width: 100%;
    height: 92vh;
    /* background-image: url(img/Background_2_Unblurred.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    top: 0;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh;
    gap: 30px;
    /* padding: 0px 60px; */
}
.name {
    display: inline-block;
    /* background-color: var(--platinum); */
    color: var(--blue);
    /* background-image: linear-gradient(
        to right,
        var(--purple),
        var(--brick),
        var(--blue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
    /* align-self: center; */
    font-size: 3.4vw;
    font-weight: 900;
    font-family: poppins;
}
.name-compliment {
    color: var(--platinum);
    /* align-self: center; */
    display: inline-block;
    font-size: 1.5vw;
    font-weight: 400;
}
.top-section-header {
    grid-column: 2 / span 4;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    /* TEST STUFF */
    /* border: 4px rgba(0, 0, 0, 0.608) solid; */
    border-radius: 8px;
    z-index: 99;
}
.cta-two {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
}
.cta-two a {
    border-radius: 5vw;
    width: 100%;
    min-height: 80px;
    height: 5vh;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    transition-duration: 0.1s;
    text-decoration: none;
    font-size: 0.7vw;
}
.cta-two a h1 {
    align-self: center;
    font-size: 1.7vw;
}
.learn-more {
    color: var(--gray);
    background-color: var(--blue);
    /* background-image: linear-gradient(
        to right,
        var(--purple),
        var(--brick),
        var(--blue)
    ); */
}
.download-cv {
    color: var(--platinum);
    background-color: var(--gray);
    border-color: var(--blue);
    opacity: 70%;
    border-style: solid;
}
.learn-more:hover,
.download-cv:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
    cursor: pointer;
}

.section-2 {
    background-color: var(--platinum);
    height: 100vh;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
    gap: 30px;
    padding: 0px 60px;
}
.section-3 {
    background-color: var(--gray);
    height: 100vh;
}
