/* Header Bar */
.header-bar {
    background-image: linear-gradient(
        to bottom,
        var(--gray),
        rgba(42, 43, 42, 0)
    );
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    padding: 0 5%;
}

.header-logo {
    height: 6vh;
}

.header-links {
    display: flex;
    gap: 6vw;
}

.header-link {
    color: var(--platinum);
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.1s;
}

.header-link:hover,
.header-logo-link:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.puter::after {
    content: "BETA";
    font-size: 50%;
    color: var(--red);
    position: absolute;
    top: -0.5em;
    right: -2em;
}
