<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/style.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins"
            rel="stylesheet"
        />
        <script href="../js/app.js" rel="script"></script>
        <title>Nicholas Graham</title>
    </head>
    <!-- HEADER BAR -->
    <div class="header-bar">
        <!-- <h2 class="logo">LOGO</h2> -->
        <a href="/" class="header-logo-link">
            <img
                src="/nic-graham-site/public/img/Logo_yellow.svg"
                class="header-logo"
            />
        </a>
        <div class="header-links">
            <a href="/puter" class="header-link puter">Puter</a>
            <a href="#" class="header-link">About Me</a>
            <a href="#" class="header-link">Projects</a>
            <a href="#" class="header-link">Contact</a>
        </div>
    </div>
    <!-- END HEADER BAR -->
    <body>
        <div id="test">
            <div class="section-1 testy">
                <div class="top-section-header">
                    <p class="name-compliment">I am</p>
                    <h1 class="name">NICHOLAS GRAHAM</h1>
                    <p class="name-compliment">web design | web development</p>

                    <a class="cta" href="#">
                        <h1 class="contact-me">Contact Me</h1>
                    </a>
                </div>
            </div>
            <div class="section-2 testy">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                vitae voluptates similique provident aut? Similique voluptate
                quidem totam architecto at sed molestiae alias doloribus
                necessitatibus aliquam, laboriosam cum in consequatur asperiores
                fugiat suscipit veniam, nemo fugit. Magni quidem quasi
                laudantium facere totam velit quos ut deserunt tempore,
                exercitationem suscipit et nihil dicta eveniet nulla ratione
                omnis, veritatis quis cupiditate sequi alias delectus libero.
                Odit beatae amet maxime illum. Tempore amet omnis eum aut
                doloremque. Neque, at. Assumenda perferendis debitis consectetur
                quo autem culpa deserunt. Soluta dolor magni rerum harum ipsam
                non vel nulla earum architecto deleniti veniam quidem error
                autem quibusdam, id quis fugit nam optio odit dignissimos
                commodi maxime iusto. Quas, ipsa sint! Sapiente aspernatur
                doloremque sint atque eligendi, architecto cumque accusantium
                quas quasi temporibus soluta voluptate impedit numquam ullam?
                Laudantium temporibus maiores repellendus asperiores blanditiis!
                Numquam fugit sed ipsa voluptates tenetur voluptate vero. Beatae
                praesentium quidem excepturi consectetur, assumenda provident
                placeat laborum nam veritatis est possimus iusto quibusdam eum
                suscipit aliquid quae deserunt animi a, commodi dicta modi
                molestiae dolores consequuntur? Nam temporibus laboriosam
                recusandae distinctio quidem, beatae nisi corrupti, quis,
                expedita dolore magnam exercitationem rem doloribus corporis
                consectetur necessitatibus delectus doloremque nobis odit soluta
                accusamus eos. Accusamus, culpa asperiores corporis nam
                voluptatum nemo officiis tenetur placeat! Dolor, enim?
                Consequatur modi tempora natus explicabo sint, veritatis a.
                Reiciendis, suscipit voluptates amet totam possimus veritatis
                nisi dolore excepturi. Vitae distinctio incidunt quas animi
                quia, laborum iste aliquid dolore nemo veniam, totam officia
                quisquam, dolorem architecto officiis adipisci? Aut recusandae
                enim corporis officia ab at blanditiis sequi commodi beatae
                culpa optio quidem voluptas neque veniam unde similique illo
                dolorum, harum fugiat. Error magni velit dolorum possimus quia
                quod, sapiente unde enim fuga at delectus fugiat, quae tempore
                iusto nam, quos vel maiores distinctio corrupti vitae?
                Inventore, veritatis iusto tempore nisi facere accusamus
                possimus velit, modi tenetur labore explicabo neque quam porro
                omnis! Officia nisi cupiditate exercitationem facere
                praesentium, numquam distinctio, est doloribus quis nesciunt
                aliquam molestiae libero tempora blanditiis omnis dolorum ullam
                deleniti vitae nulla quod, cumque iste accusantium error
                adipisci. Laboriosam nisi repudiandae, facilis odio rem
                perspiciatis ipsa aliquam eveniet fugiat, omnis nihil dicta
                blanditiis nostrum in ea ullam asperiores possimus voluptas
                illum numquam consectetur. Rerum, beatae! Vero libero cumque
                pariatur repudiandae maxime nam tempore odit corrupti culpa,
                incidunt commodi quo debitis nesciunt consequatur harum fuga eum
                aperiam distinctio sit molestiae! Ratione illo rerum sit non,
                dicta quos? Numquam amet quasi rerum reprehenderit corrupti
                autem, libero accusantium distinctio quam et sint illum repellat
                magni animi quaerat aperiam ab vel modi molestiae sit! Sint
                praesentium neque quibusdam, ab dolores distinctio harum
                aspernatur magni aut odit, alias debitis in possimus eveniet
                aliquid doloremque voluptate, dolorem exercitationem expedita
                sequi omnis numquam maxime cupiditate. Porro beatae blanditiis
                quia fugiat provident facilis eaque? Fugiat aperiam voluptatem
                ad molestias modi, neque doloribus dicta atque exercitationem
                quam amet repudiandae harum, itaque beatae quia, distinctio
                rerum. Nulla vitae cum fuga esse? Enim doloribus illum cum fuga
                debitis aperiam, fugiat id magnam laudantium quibusdam
                praesentium? Neque cumque debitis rem itaque ex. Impedit beatae
                saepe accusantium explicabo vel ex voluptates laboriosam nemo
                labore inventore! Molestias facilis rem hic, odio dolores
                tenetur, sint eveniet sapiente earum enim provident aperiam
                cupiditate eos porro, aliquid tempora consequuntur alias? Minima
                adipisci, unde laboriosam quidem repellat, aspernatur, sapiente
                nostrum maxime eum exercitationem iure corporis rerum porro?
                Provident harum voluptates dolor accusamus voluptas molestiae
                suscipit beatae, recusandae dolorum vero hic dignissimos
                inventore in labore veritatis sed rem praesentium illum
                voluptatibus aliquid, accusantium fugiat. Vel velit illum ipsa,
                repudiandae facilis commodi soluta voluptatum voluptatibus
                dolore quo reiciendis maxime quos quia expedita libero maiores
                laudantium dolorem nemo ipsam, doloremque nam placeat dolores?
                Repudiandae ipsam ratione odit earum explicabo, quo
                consequuntur, iste totam veritatis veniam ad fugiat. Nobis
                exercitationem blanditiis voluptatibus qui quis minima, tempore
                nam neque minus dolores repellat architecto incidunt atque
                voluptatem ut doloremque. Similique magnam maxime corporis
                ratione vitae vel voluptate quisquam reprehenderit earum, eum
                placeat recusandae repellat dolorem, modi exercitationem magni
                dolorum expedita labore saepe? Voluptas eius quae id quisquam
                delectus! Quos, odit harum veniam debitis delectus, vero
                corporis vitae dicta praesentium ducimus nostrum laborum quaerat
                iste voluptatem eos ipsa dolor alias facere minima? Delectus
                repudiandae dolorem ipsam hic eum explicabo quaerat, adipisci a!
                Minima distinctio et eligendi quam expedita, assumenda eaque
                tenetur, magni voluptate quas dignissimos nostrum commodi nobis
                illo aliquid aspernatur eius dicta id dolor sequi asperiores
                corrupti cum voluptatem. Expedita voluptate consequuntur ullam
                quo nihil provident dicta ad dolorem. Delectus modi eum
                blanditiis at repudiandae molestias! Ex id voluptate libero iure
                accusamus magni voluptatibus vel nemo, eos quae repellat
                pariatur consectetur delectus atque harum officia amet est.
                Sequi eaque libero, quis molestiae labore voluptatibus
                praesentium corporis in molestias adipisci dolores fugit
                perferendis voluptates nisi ut? Quis mollitia optio expedita
                ullam accusantium quibusdam accusamus libero commodi ea maiores
                cumque provident illum odit tenetur soluta totam excepturi
                placeat, distinctio unde nemo similique doloremque quaerat
                quisquam. Quis nam debitis minima quos. Voluptas eum repudiandae
                amet corrupti harum, ad velit ex autem illum vel sint pariatur
                nisi error at laboriosam nobis, voluptatibus quae maiores sunt
                officia soluta quaerat voluptate mollitia. Optio totam hic alias
                laborum voluptate soluta libero inventore neque minus eligendi
                perferendis magni, tempore quo commodi impedit ad iure illum
                praesentium rerum voluptatem. Sequi, suscipit ipsam ullam
                itaque, cumque optio, et ratione eaque libero illum maxime enim
                fuga quas? Commodi molestiae esse distinctio deleniti a
                consequuntur ea placeat, excepturi, natus sit rerum eius vitae
                debitis? Autem, eligendi cum voluptatem nulla, quis recusandae
                ullam, laboriosam at praesentium voluptate dicta? Odio molestiae
                ex tempore. Dolores animi architecto eos magnam voluptate
                eveniet culpa. Minima, eos dignissimos! Mollitia et explicabo
                asperiores quia, officiis voluptas facilis? Ut repudiandae quo
                eveniet fugiat at perferendis, itaque harum quae consectetur
                reiciendis ratione assumenda dicta repellendus excepturi animi
                laudantium sunt? Veritatis corrupti nihil molestiae magnam
                aperiam fugiat nam accusamus ipsa hic nemo, aut velit! Quis
                adipisci doloribus impedit dolorem unde sapiente vitae ipsa
                mollitia. Fuga enim, nisi officiis velit, cupiditate eaque
                mollitia aspernatur veritatis et vel dignissimos maxime
                praesentium accusantium omnis labore earum.
            </div>
        </div>
        <script src="../js/app.js" type="text/javascript"></script>
    </body>
</html>
