<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="index.css" rel="stylesheet" />
        <title>Home</title>
    </head>
    <!-- HEADER BAR -->
    <div class="header-bar">
        <h2 class="logo">LOGO</h2>
        <div class="header-links">
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </div>
    </div>
    <!-- END HEADER BAR -->
    <body>
        <div class="home-container">
            <div class="left-column">
                <div class="self-info">
                    <h1>Nicholas Graham</h1>
                    <h2>Web Design | Web Development | AI</h2>
                </div>
                <div class="contact-info"></div>
            </div>
            <div class="right-column"></div>
        </div>
    </body>
</html>
