<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="css/old_site/style.css" rel="stylesheet" />
    <link href="css/old_site/style-small_screen.css" rel="stylesheet" />
    <link href="ss/old_site/style-mobile.css" rel="stylesheet" />
    <link rel="icon" href="/img/Logo-nobackground-white.png" />
    <script
      src="https://kit.fontawesome.com/509a141bf1.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nicholas Graham</title>
  </head>

  <!-- Side navigation -->

  <div class="sidenav">
    <!-- Icon -->
    <a href="/index.html" class="icon-link"
      ><img
        src="/img/Logo-nobackground-white.png"
        alt="Nicholas-Graham-Logo"
        width="128px"
        class="svg-logo"
      />
    </a>
    <div class="icon-set">
      <!-- Icon -->
      <a href="https://github.com/Snappychaff290" class="icon-link"
        ><i
          class="fa-brands fa-github icon side-icon white-icon aquamarine-glow"
        ></i
      ></a>
      <!-- Icon -->
      <a
        href="https://www.linkedin.com/in/nicholas-graham-129450293/"
        class="icon-link"
        ><i
          class="fa-brands fa-linkedin icon side-icon white-icon blue-glow"
        ></i
      ></a>
      <!-- Icon -->
      <a href="https://www.instagram.com/nic_graham4/" class="icon-link"
        ><i
          class="fa-brands fa-instagram icon side-icon white-icon instagram-glow"
        ></i
      ></a>
      <!-- Icon -->
      <a href="/" class="icon-link"
        ><i class="fa-solid fa-arrow-left icon side-icon white-icon purple-glow"></i
      ></a>
    </div>
    <!-- Icon -->
    <a
      href="{{ url_for('static', filename='files/Nicholas_Graham_Resume.pdf') }}"
      target="_blank"
      class="icon-link"
    >
      <i
        class="fa-solid fa-file-arrow-down icon side-icon white-icon white-glow cv-download"
      ></i
    ></a>
    <!-- Icon End -->
  </div>

  <!-- Side navigation -->

  <body>
    <!-- <h1 data-value="HYPERPLEXED" id="glitch-effect">HYPERPLEXED</h1> -->
    <div id="cards">
      <div class="card big el--1" id="glitch-container">
        <div class="card-content selfie">
          <div class="name">
            <h2>I am</h2>
            <h1
              id="glitch-effect"
              class="red-glow"
              data-value="NICHOLAS GRAHAM"
            >
              Nicholas Graham
            </h1>
            <h2>Web Developer | Frontend Developer</h2>
          </div>
        </div>
      </div>
      <div class="card wide el--2">
        <div class="card-content development">
          <div class="development-header">
            <i class="fa-solid fa-code icon-big centered aquamarine-icon"></i>
            <h1 class="centered">development</h1>
          </div>
          <div class="development-grid">
            <!-- DEVELOPMENT GRID ITEMS -->
            <div class="proficiency">
              <i class="fa-solid fa-laptop-code cambridge-icon"></i>
              <h2 class="">Proficiency</h2>
              <p>
                My most proficient languages are HTML and CSS, I am currently
                working towards becoming proficient in javascript to complement
                this
              </p>
            </div>
            <div class="history">
              <i class="fa-solid fa-code cambridge-icon"></i>
              <h2 class="">History</h2>
              <p>
                The first language I learned was C++, after learning the basics
                of it I quickly moved to solidity, since that is what I was most
                interested in, this is what eventually led me to web development
              </p>
            </div>
            <div class="all-languages">
              <i class="fa-solid fa-terminal cambridge-icon"></i>
              <h2 class="">All Languages</h2>
              <p>
                Up to this point, I have basic understanding of C++, C#, Python,
                Ruby, Solidity, HTML, CSS, and JS
              </p>
            </div>
            <div class="favorites">
              <i class="fa-solid fa-code cambridge-icon"></i>
              <h2 class="">Favorites</h2>
              <p>
                My favorite languages to use are HTML and CSS, this is because
                web development is something that I really enjoy doing, I even
                coded the site you're on right now from scratch
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card el--3">
        <div class="card-content blockchain">
          <i class="fa-solid fa-link icon-big centered tomato-icon"></i>
          <h1 class="centered">blockchain</h1>
          <p class="blockchain-default">
            I have learned intermediate Solidity programming to create smart
            contracts and the basics of implementing interactions with smart
            contracts within a site
          </p>
          <p class="blockchain-alternate">
            I have basic knowledge of Solidity smart contract development
          </p>
        </div>
      </div>
      <div class="card tall el--4">
        <div class="card-content education">
          <i
            class="fa-solid fa-graduation-cap icon-big centered saffron-icon"
          ></i>
          <h1 class="centered">education</h1>
          <p>
            After graduating from Norwayne High School, I started attending
            Bowling Green State University in the fall of 2022. I am pursuing a
            degree in computer science with a minor in science
          </p>
          <img
            src="img/Bowling-Green.png"
            alt="Bowling Green Logo"
            class="bg-icon"
            width="30%"
          />
        </div>
      </div>
      <div class="card el--5">
        <div class="card-content AI">
          <i
            class="fa-solid fa-code-branch icon-big ultraviolet-icon centered"
          ></i>
          <h1 class="centered">artificial intelligence</h1>
          <p class="AI-description">
            Artificial Intelligence is another major interest of mine, I have
            dabbled in personal projects involving the incorperation of AI
          </p>
          <!-- <a href="https://magic-8.xyz" class="ai-button">Check it out</a> -->
        </div>
      </div>
      <div class="card el--6">
        <div class="card-content web-dev">
          <i class="fa-solid fa-globe icon-big centered blue-icon"></i>
          <h1 class="centered">web development</h1>
          <p class="web-dev-description">
            As you may have read in the development section, I really enjoy web
            development, in fact, I coded this site from scratch!
          </p>
        </div>
      </div>
      <div class="card wide el--7">
        <div class="card-content hobbies">
          <div class="development-header">
            <i
              class="fa-solid fa-circle-nodes icon-big centered yellow-icon"
            ></i>
            <h1 class="centered">hobbies</h1>
          </div>
          <div class="hobby-grid">
            <!-- DEVELOPMENT GRID ITEMS -->
            <div class="history">
              <i class="fa-solid fa-dumbbell dark-yellow-icon"></i>
              <h2 class="">Weight Lifting</h2>
              <p>
                I have been weightlifting for a little over 2 years now, it has
                turned into a passion for pretty much any health hacks
              </p>
            </div>
            <div class="proficiency">
              <i class="fa-solid fa-arrow-trend-up dark-yellow-icon"></i>
              <h2 class="">Trading</h2>
              <p>
                I began crypto trading in early 2023 and hope it will become a
                money flow as well as genuinely enjoying learning about market
                movement
              </p>
            </div>
            <div class="all-languages">
              <i class="fa-solid fa-suitcase dark-yellow-icon"></i>
              <h2 class="">Entrepreneurship</h2>
              <p>
                I have recently voyaged into a startup business with some
                colleagues I met online. When the time comes, I will link the
                business here
              </p>
            </div>
            <div class="favorites">
              <i class="fa-regular fa-id-badge dark-yellow-icon"></i>
              <h2 class="">NFTs</h2>
              <p>
                I bought my first NFT in 2021 and have been fascinated with the
                technology, I used to buy with the hopes of flipping for profit,
                now I collect and buy for utility
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card wide el--8">
        <div class="card-content persuits">
          <div class="development-header">
            <i
              class="fa-solid fa-location-crosshairs icon-big centered magenta-icon"
            ></i>
            <h1 class="centered">pursuits</h1>
          </div>
          <div class="persuit-grid">
            <!-- DEVELOPMENT GRID ITEMS -->
            <div class="proficiency">
              <i class="fa-solid fa-file-code red-icon"></i>
              <h2 class="">Web Development</h2>
              <p>
                Web development is the field I am most interested in for my
                future, as of now it is one of the biggest priotities outside of
                school, this site has been a great learning experience
              </p>
            </div>
            <div class="history">
              <i class="fa-solid fa-code-branch red-icon"></i>
              <h2 class="">Artificial Intelligence</h2>
              <p>
                The capabilities of artificial intelligence to aid humans and
                make life easier amazes me. I am learning how to leverage it and
                plan on implementing it into this site in the future
              </p>
            </div>
            <div class="all-languages">
              <i class="fa-solid fa-suitcase red-icon"></i>
              <h2 class="">Entrepreneurship</h2>
              <p>
                Something I have always wanted to do is contribute some sort of
                service that is widely used and considered helpful, this has led
                me to making connections with other like-minded individuals, who
                I am constantly working with
              </p>
            </div>
            <div class="favorites">
              <i class="fa-regular fa-eye red-icon"></i>
              <h2 class="">Health</h2>
              <p>
                For the past few years, health has become a large priority in my
                life, I am always looking for new ways to improve my health;
                mental and physical
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
    <div class="chat" id="chat"><button class="chat-button" onclick="toggleChat()"><div class="chat-content"><i class="fa-solid fa-headset chat-icon"></i></div>
    </button></div>
    <div class="chat-popup" id="chat-popup"><button class="chat-exit" onclick="toggleChat()"><i class="fa-regular fa-circle-xmark"></i></button>
    
    <div class="chat-container"><div class="answer-box"><h1>Ask me anything about Nicholas!</h1><p id="answer">I will do my best to respond</p></div><div class="chat-submit"><input class="chat-input" id="user-input" name="user_input" type="text"><button class="submit-button" onclick="submitForm()"><i class="fa-regular fa-paper-plane submit-icon"></button></i></div></div>
    </div>
    <script src="'js/old_site/index.js'" type="text/javascript"></script>
  </body>
</html>
