<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/placeholder.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
  <title>In progress...</title>
</head>
<!-- HEADER BAR -->
<div class="header-bar">
  <!-- <h2 class="logo">LOGO</h2> -->
  <a href="/" class="header-logo-link">
      <img src="img/Logo_white.svg" class="header-logo" />
  </a>
  <div class="header-links">
      <a href="/in-progress" class="header-link about-me">About Me</a>
      <a href="/in-progress" class="header-link puter">Puter</a>
      <a href="/in-progress" class="header-link projects">Projects</a>
      <a href="/in-progress" class="header-link contact">Contact Me</a>
  </div>
</div>
<!-- END HEADER BAR -->

<body>
  <h2>I'm Sorry!</h2>
  <h3>The Page you are looking for is not complete yet..</h3>
  <p>but please be patient, I'm building something</p>
  <h1 class="gradient-words">Amazing!</h1>
  <div class="image">
  <img src="img/construction.png" alt="construction site" />
  </div>
  <a href="/" class="take-me-home"><div>Take me home</div></a>
</body>
</html>