* {
    padding: 0;
    margin: 0;
}
/* HEADER BAR */
.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    border: none;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
.logo {
    margin-left: 3vw;
}
.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
    margin-right: 4vw;
}
/* HEADER STOP */
body {
    margin-top: 8vh;
}
.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-column {
    /* margin-top: 24px; */
    position: absolute;
    width: 50vw;
    height: 100vh;
}
.self-info {
    background-color: #333;
    height: 46vh;
}
.contact-info {
    background-color: #555;
    height: 46vh;
}
.right-column {
    width: 50vw;
    height: 100vh;
    background-color: #777;
}
